
    <div class="panel panel-default">
      <div class="panel-heading">关于</div>
      <div class="panel-body">
        <p class="aboutTitle">关于福运临</p>
        <ol class="about" type="a" start="a">
          <li>湖南福运临汽车服务有限公司（以下简称福运临汽车电子）由刘浪波先生创立于2006年，多年来以“专注于技术的钻研、热心的为客户解决问题”为宗旨，以汽车维修企业及汽车维修技师为服务对象，得到了国内众多汽车3S店、4S店，及一类、二类汽修厂的认可，也是多个大中专院校汽车专业的实习实践基地。</li>
          <li>福运临汽车电子位于湖南省长沙市时代阳光大道的工业园区内，总占地面积约为2000平方米，功能区齐全，各汽车品牌专用检测电脑、汽车故障诊断检测设备、电脑板维修设备等配备齐全。</li>
          <li>福运临汽车电子主要的服务项目：汽车疑难故障的诊断与排除、汽车电脑板的维修与编程匹配、音响仪表维修、动力程序升级（刷ECU）、防盗钥匙匹配、诊断设备工具销售与维护、汽车电器配件的销售等，另外还进行汽车维修诊断技师的培养。</li>
          <li>让我们一起前进</li>
        </ol>
      </div>
    </div>


