
    <div class="panel panel-default">
      <div class="panel-heading">关于</div>
      <div class="panel-body">
        <p>关于这个项目</p>
        <ul>
          <li>参照了CNode社区</li>
          <li>全部重新写一遍</li>
          <li>逻辑、用的工具、插件和实现的方法与原CNode并不一致</li>
          <li>希望和你一起进步</li>
        </ul>
      </div>
    </div>


