     <!--<div class="">
        <span>发布于<%=topic.create_at_ago()%></span>
        <span>作者<a href="/user/<%=topic.author.name%>"><%=topic.author.name%></a></span>
        <span><%topic.visit_count%>次浏览</span>
        </div>
      -->