
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<!--重点注意，模版内引入js文件需在前面加'/'才能引入成功-->
<script src="/javascripts/bootstrap.js"></script>
<!--重点注意，模版内引入js文件需在前面加'/'才能引入成功-->
<script src="/javascripts/less.min.js" type="text/javascript"></script>

</body>

</html>