
<div style="bottom:0px;padding:10px;margin-top:50px;" class="foo">
    <footer>
        <p>关于福运临 常见问题 联系我们 网站地图</p>
        <p>公司地址：湖南省长沙市天心区桂花坪家具小区20栋</p>
        <a href="http://www.miitbeian.gov.cn/" target="_blank" style="display: inline;">
            <p style="display: inline;">湘ICP备17004304号</p>
        </a>
    </footer>
</div>


<script src="/javascripts/jquery-3.2.1.min.js"></script>
<!--重点注意，模版内引入js文件需在前面加'/'才能引入成功-->
<script src="/javascripts/bootstrap.js"></script>
<!--重点注意，模版内引入js文件需在前面加'/'才能引入成功-->
<script src="/javascripts/less.min.js" type="text/javascript"></script>



</body>

</html>