   
    <div style="min-height:100px;"></div>
    <div style="bottom:0px;">
      <hr/>
      <footer class="foo">
        <p>网站合作 ｜ 技术讨论 ｜ 版权投诉</p>
        <a href="http://www.miitbeian.gov.cn/" target="_blank" style="display: inline;">
          <p style="display: inline;">湘ICP备17004304号</p>
        </a>
        <p style="display: inline;">春九网.powered by node.js.</p>
      </footer>
    </div>
</div>
<!--container"-->


<script src="/javascripts/jquery-3.2.1.min.js"></script>
<!--重点注意，模版内引入js文件需在前面加'/'才能引入成功-->
<script src="/javascripts/bootstrap.js"></script>
<!--重点注意，模版内引入js文件需在前面加'/'才能引入成功-->

</body>

</html>