<%-include('./includes/header')%>

    <!--轮播-->
    <div id="introduce_carousel" class="carousel slide" data-ride='carousel'>
        <ol class="carousel-indicators">
            <li data-target='#introduce_carousel' data-slide-to='0' class="active"></li>
            <li data-target='#introduce_carousel' data-slide-to='1'></li>
            <li data-target='#introduce_carousel' data-slide-to='2'></li>
        </ol>
        <div class="carousel-inner" role='listbox'>
            <div class="item active">
                <img src="images/img5.jpg">
            </div>
            <div class="item">
                <img src="images/img2.jpg">
            </div>
            <div class="item">
                <img src="images/img3.jpg">
            </div>
            <div class="item">
                <img src="images/img4.jpg">
            </div>
        </div>

        <a class="left carousel-control" href="#introduce_carousel" role="button" data-slide='prev'>
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#introduce_carousel" role="button" data-slide='next'>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">next</span>
        </a>
    </div>

    <!--案例标题-->
    <div class="container body-weidth" style="margin-top:50px;">


        <p style="margin-top:15px;">
            <span style="color:#70A7CE;font-size:25px;font-weight: bold;">Maintenance</span> &ensp;
            <span style="color:black;font-size:25px;font-weight: bold;"> Case</span>
        </p>
        <p style="font-size:25px;">维修案例</p>
        <p style="font-size:15px;font-weight:bolder">全面检测爱车车况 &ensp;专享爱车家庭医生</p>
        <p style="background-color:#70A7CE;width:150px;height:2px;"></p>

        <a class="pull-right mainPageFont " href="#">更多</a>


        <div id="introduce_carousel-2" class="carousel slide" style="margin-top:50px;">
            <ol class="carousel-indicators">
                <li data-target='#introduce_carousel-2' data-slide-to='0' class="active"></li>
                <li data-target='#introduce_carousel-2' data-slide-to='1'></li>
                <li data-target='#introduce_carousel-2' data-slide-to='2'></li>
            </ol>
            <div class="carousel-inner" role='listbox'>
                <div class="item active">

                    <!--案例-->
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img class="max-width-no" src="images/img4.jpg">
                            <div class="caption">
                                <h3>宝马发动机维修</h3>
                                <p>宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img class="max-width-no" src="images/img4.jpg">
                            <div class="caption">
                                <h3>宝马发动机维修</h3>
                                <p>宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img class="max-width-no" src="images/img4.jpg">
                            <div class="caption">
                                <h3>宝马发动机维修</h3>
                                <p>宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3" style="padding-right:0px;">
                        <div class="thumbnail">
                            <img class="max-width-no" src="images/img4.jpg">
                            <div class="caption">
                                <h3>宝马发动机维修</h3>
                                <p>宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">

                    <!--案例-->
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="images/img4.jpg">
                            <div class="caption">
                                <h3>宝马发动机维修</h3>
                                <p>宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="images/img4.jpg">
                            <div class="caption">
                                <h3>宝马发动机维修</h3>
                                <p>宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="images/img4.jpg">
                            <div class="caption">
                                <h3>宝马发动机维修</h3>
                                <p>宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="images/img4.jpg">
                            <div class="caption">
                                <h3>宝马发动机维修</h3>
                                <p>宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修宝马发动机维修</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="up" style="top:-30px;left:20px;" href="#introduce_carousel-2" role="button" data-slide='next'>
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <span class="sr-only">next</span>
             </a>
            <a class="up" style="top:-30px;left:0px;" href="#introduce_carousel-2" role="button" data-slide='prev'>
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        </div>

        <!--Look for help-->

        <p style="margin-top:50px;">
            <span style="color:black;font-size:25px;font-weight: bold;">Looking For</span> &ensp;
            <span style="color:#70A7CE;font-size:25px;font-weight: bold;">Help</span>
        </p>
        <p style="font-size:25px;">找帮助</p>
        <p style="font-size:15px;font-weight:bolder">省钱、省心、省力、省时间</p>
        <p style="background-color:#70A7CE;width:150px;height:2px;"></p>
        <a class="pull-right mainPageFont1 " href="#">更多</a>

        <div class="row" style="margin-top:20px;">
            <div class="col-xs-8 col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入问题零部件，如：宝马发动机">
                    <a href="#" class="input-group-addon" style='background-color:antiquewhite;'>搜索</a>
                </div>
            </div>
            <a href="create" class="btn btn-warning">提问</a>
        </div>
        <a class="pull-right mainPageFont " href="/case">更多</a>
        <div class="row ask" style="margin-top:15px;">
            
            <p class="col-md-4"><a href="#">大众高尔夫后视镜怎么保养，如何注意</a></p>
            <p class="col-md-4"><a href="#">大众高尔夫后视镜怎么保养，如何注意</a></p>
            <p class="col-md-4"><a href="#">大众高尔夫后视镜怎么保养，如何注意</a></p>
            <p class="col-md-4"><a>大众高尔夫后视镜怎么保养，如何注意</a></p>
            <p class="col-md-4"><a>大众高尔夫后视镜怎么保养，如何注意</a></p>
            <p class="col-md-4"><a>大众高尔夫后视镜怎么保养，如何注意</a></p>
            <p class="col-md-4"><a>大众高尔夫后视镜怎么保养，如何注意</a></p>
            <p class="col-md-4"><a>大众高尔夫后视镜怎么保养，如何注意</a></p>
            <p class="col-md-4"><a>大众高尔夫后视镜怎么保养，如何注意</a></p>
        </div>

        <!--Looking for information-->
        <p style="margin-top:50px;">
            <span style="color:#70A7CE;font-size:25px;font-weight: bold;">Looking For</span> &ensp;
            <span style="color:black;font-size:25px;font-weight: bold;"> Information</span>
        </p>
        <p style="font-size:25px;">找资料</p>
        <p style="font-size:15px;font-weight:bolder">行业领先，知识全面</p>
        <p style="background-color:#70A7CE;width:150px;height:2px;"></p>

        <div class="carousel-inner">
            <div class="">
                <img src="images/img5.jpg">
                <div class="carousel-caption">
                    <a href="/information" class="btn btn-warning">进入资料库</a>
                </div>
            </div>
        </div>

        <!--About Us-->
        <p style="margin-top:50px;">
            <span style="color:#70A7CE;font-size:25px;font-weight: bold;">About</span> &ensp;
            <span style="color:black;font-size:25px;font-weight: bold;">Us</span>
        </p>
        <p style="font-size:25px;">关于我们</p>
        <p style="font-size:15px;font-weight:bolder">至善尽美、永续经营</p>
        <p style="background-color:#70A7CE;width:150px;height:2px;"></p>

        <div class="row culture" style="margin-top:30px;">
            <div class="col-md-4">
                <p style="font-size:20px;font-weight:bolder">公司介绍</p>
                <p style="background-color:#B6D8D2;width:100px;height:2px;"></p>
                <p>湖南福运临汽车服务有限公司（以下简称福运临汽车电子）由刘浪波先生创立于2006年，多年来以“专注于技术的钻研、热心的为客户解决问题”为宗旨，以汽车维修企业及汽车维修技师为服务对象，得到了国内众多汽车3S店、4S店，及一类、二类汽修厂的认可，也是多个大中专院校汽车专业的实习实践基地</p>
            </div>

            <div class="col-md-4 culture">
                <p style="font-size:20px;font-weight:bolder">企业文化</p>
                <p style="background-color:#B6D8D2;width:100px;height:2px;"></p>
                <p>公司愿景：让汽车维修企业及维修技师没有修不好的车和排除不</p>
                <p>了的汽车故障</p>
                <p>公司使命：专注汽车故障诊断及排除，培养高素质高技能的汽车</p>
                <p>故障诊断技师 </p>
                <p>公司主旨：为客户创造价值、为员工谋求福利、为社会做出贡献</p>
                <p> 公司价值观：利他、诚信、敬业、创新、高效、分享</p>
                </p>
            </div>

            <div class="col-md-4 culture">
                <p style="font-size:20px;font-weight:bolder">为什么选择福运临</p>
                <p style="background-color:#B6D8D2;width:100px;height:2px;"></p>
                <p>福运临汽车电子主要的服务项目：汽车疑难故障的诊断与排除、汽车电脑板的维修与编程匹配、音响仪表维修、动力程序升级（刷ECU）、防盗钥匙匹配、诊断设备工具销售与维护、汽车电器配件的销售等，另外还进行汽车维修诊断技师的培养。</p>
            </div>
        </div>
    </div>

    <%-include('./includes/footer')%>

    <script>
        $('#introduce_carousel').carousel({
            interval: 3000

        })
        $('#introduce_carousel-2').carousel({
            wrap:false,
            
        })
    </script>
