<%if(!current_user){%>
  <div class="panel panel-default panelBorderNone">
    <div class="panel-heading">个人社区</div>
    <div class="panel-body">
      <span>您可以通过<a href="/signin"><b>登录</b></a>或<a href="/signup"><b>注册</b></a>后<b><a href="/create">发布话题</a></b>或</span>
    </div>
    <div>
      <button class="btn btn-default">通过微信登录</button>
    </div>
  </div>

 <% } %>