<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id='content'>
    <div class='panel'>
      <div class='header'>
        <ul class='breadcrumb'>
          <li><a href='/'>主页</a><span class='divider'></span></li>
          <li class='active'>通知</li>
        </ul>
      </div>
      <div class='inner'>
        <% if(typeof(error) !== 'undefined' && error){ %>
          <div class="alert alert-error">
            <strong><%- error %></strong>
          </div>
          <% } %>
            <% if(typeof(success) !== 'undefined' && success){ %>
              <div class="alert alert-success">
                <strong><%= success %></strong>
                <a target="_blank" href="https://<%=link%>">请点击登陆邮箱激活账号,若已激活该链接自动失效</a>
              </div>
              <% } %>
                <a href="<%- typeof(referer) !== 'undefined' ? referer : '/' %>"><span class="span-common">返回</span></a>

      </div>
    </div>
  </div>


  <script src="javascripts/jquery-3.2.1.min.js"></script>
  <script src="javascripts/bootstrap.js"></script>

</body>

</html>